body,
html {
  margin: 0;
  
}

body {
  width: 100%;
  height: 100%;
  background: rgb(87, 56, 56);
  text-align: center;
  overflow: hidden;
  position: relative;
  transform-origin: 0 0;
  scale: 3;
}
.background {
  background-image: url("/assets/city.png");
  background-position: center;
  background-size: cover;
  table-layout: fixed;
  border-spacing: 0;
}
.background td {
  padding: 0;
}
.spike {
  background-image: url("/assets/spikes.png");
  background-size: 100% 100%;  

}

.fireball {
  background-image: url("/assets/enemy.gif");
  background-size: 100% 100%;  

}
.wall {
  background-image: url("/assets/block.png");
  background-size: 100% 100%;  

}

.actor {
  position: absolute;
}
.coin {
  background-image: url("/assets/firewall.png");
  background-size: 100% 100%;  

}
.idleRight .player {
  background-image: url("/assets/player_idle.gif");
  background-size: 100% 100%;  

}

.idleLeft .player {
  background-image: url("/assets/player_idle.gif");
  transform: scaleX(-1);
  background-size: 100% 100%;  

}

.runRight .player {
  background-image: url("/assets/player_run.gif");
  background-size: 100% 100%;  

}

.runRightJump .player {
  background-image: url("/assets/player_jump.gif");
  background-size: 100% 100%;  

}

.runLeft .player {
  background-image: url("/assets/player_run.gif");
  transform: scaleX(-1);
  background-size: 100% 100%;  

}

.runLeftJump .player {
  background-image: url("/assets/player_jump.gif");
  transform: scaleX(-1);
  background-size: 100% 100%;  

}

.jump .player {
  background-image: url("/assets/player_jump.gif");
  background-size: 100% 100%;  

}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background-image: url("/assets/player_dead.gif");
  background-size: 100% 100%;  

}


.won .player {
  box-shadow: -4px -7px 8px rgb(255, 0, 0), 4px -7px 8px rgb(76, 0, 255);
}
