html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('images/abstract-futuristic-background_23-2148414745.avif');
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#tetris {
  width: 460px;
  border: 1px solid black;
  padding: 20px;
}

#canvas {
  width: 300px;
  height: 640px;
  background-color: #000;
  position: relative;
  color: #fff;
}

#canvas h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  padding-top: 200px;
}

.piece {
  border: 1px solid white;
  position: absolute;
}

#start {
  animation: blink 0.7s steps(2, start) infinite;
  background: #e1ff5f;
  border-radius: 2px;
  color: #202020;
  cursor: pointer;
  font-size: 28px;
  margin-left: 12px;
}

@keyframes blink {
  to {
    outline: #e1ff5f solid 1px;
  }
}

.red {
  color: #f00000;
}

.square {
  position: absolute;
  width: 19px;
  height: 19px;
  border: 2px solid white;
}

.type0 {
  background-color: #a000f0;
}

.type1 {
  background-color: #00f0f0;
}

.type2 {
  background-color: #f0a000;
}

.type3 {
  background-color: #0000f0;
}

.type4 {
  background-color: #00f000;
}

.type5 {
  background-color: #f00000;
}

.type6 {
  background-color: #f0f000;
}

#next_shape {
  position: relative;
  background-color: #000;
  border: 1px solid white;
  width: 110px;
  height: 110px;
}

#info {
  background-color: #000;
  color: #fff;
  float: right;
  width: 110px;
  height: 420px;
  padding: 10px;
}


#back-button {
  font-size: 50px;
  padding: 10px 20px;
  margin: 0px;
  background: transparent;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: 00px; 
  top: 00px;
}



#home-button {
  font-size: 40px;
  padding: 20px 10px;
  margin: 0px;
  background: transparent;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 00px;
}


#restart-button{
  background: red;
  border-radius: 2px;
  color: #202020;
  cursor: pointer;
  font-size: 28px;
  margin-top: 15px;


}